.pagination{
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    
    .pagination_btn{
        margin: 0 10px;
        padding: 5px 10px;
        border-radius: 30px;
        border: 1px solid #ccc;
        text-decoration: none;
        color: #555;
        font-weight: bold;
        transition: all 0.3s ease;
        
        cursor: pointer;
        @media screen and (max-width:800px) {
            display: none;
        }
        &:hover{
            background-color: #555;
            color: #fff;
        }
        &.active{
            background-color: #333;
            color: #fff;
        }
    }
    
    .pagination_btn_prev{
        margin: 0 1rem;
        background: #ddd;
        cursor: pointer;
    }
    .pagination_btn_next{
        margin: 0 1rem;
        background: #ddd;
        cursor: pointer;
    }
}