.loading {
    text-align: center;
    padding: 3rem 0;
    font-weight: bold;
    height: 100%;

    .loading_text {
        font-size: 2rem;

        @media screen and (max-width:800px) {
            font-size: 1rem;
        }
    }
}