.banner {
    height: auto;
    background: #f8f7e5;
    .banner_img{
        display: flex;
        .banner_left{
            flex: 50%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .baneer_right{
            flex: 50%;
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

  

  