.detail_post{
    width: 100%;
    position: relative;
    height: 100%;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #f6efe1;
        z-index: -1;
        @media screen and (max-width:1050px) {
            width: 100%;
            height: auto;
        }
    }
    
    .detail_post_box{
        display: flex;
        height: 100%;
        justify-content: space-between;
        position: relative;
        @media screen and (max-width:1050px) {
            flex-direction: column;
            height: auto
        }
    }
}
@media screen and (max-width:1050px) {
    .detail_post{width: 100%; height: auto;}
}