.detail_post{
    width: 100%;
    height: 1000px;
    position: relative;
    margin-top: 100px;
    
    &::before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #f6efe1;
        z-index: -1;
    }
    
    .detail_post_box{
        display: flex;
        height: 100%;
        justify-content: space-between;
        .detail_item_left{
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .detail_main_img{
                img{
                    
                    width: 400px;
                    height: 400px;
                }
            }
        }
        .detail_item_right{
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
            .detail_name{
                flex-basis: 10%;
                font-size: 2.4rem;
                font-weight: bold;
            }
            .detail_cook{
                flex-basis: 40%;
                li{
                    padding: 1rem;
                    font-size: 1.6rem;
                }
            }
            .detail_etc{
                flex-basis: 10%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                font-size: 1.4rem;
                gap: 1.6rem;
            }
        }
    }
}