.section4 {
    height: auto;
    background: #f8f7e5;

    .section4_img {
        display: flex;

        @media screen and (max-width:800px) {
            flex-direction: column;
        }

        .section4_left {
            flex: 50%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .section4_right {
            flex: 50%;
            display: grid;
            grid-template-columns: repeat(2, 2fr);

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}