.detail_item_left{
    
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* margin-top: 10rem; */
    .detail_main_img{
        img{
            width: 400px;
            height: 400px;
            @media screen and (max-width:400px) {
                width: 300px;
                height: 300px;
            }
        }
    }
    .sub_img{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
        padding: 2rem 0;
        
        img{
            width: 80px;
            height: 80px;
            cursor: pointer;
            transition: all 0.2s linear;
            &.active{
                transform: scale(1.3);
            }
        }
    }
}