.post {
    height: auto; 
    
    .title{
        font-size: 3rem;
        padding: 5rem 0;
        text-align: center;
        
    }
    
    .post_list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        gap: 1rem;
        
        @media screen and (max-width:1000px) {
            grid-template-columns: repeat(3, 1fr);
            padding: 0 2rem;
        }
        @media screen and (max-width:800px) {
            grid-template-columns: repeat(2, 1fr);
            padding: 0 1rem;
        }
        @media screen and (max-width:450px) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 1rem;
        }
        .post_item{
            position: relative;
            color: #fff;
            .img_wrap{
                position: relative;
                width: 100%;
                
                overflow: hidden;
                img{
                    
                    bottom: 0;
                    width: 100%;
                    background-size: cover;
                    &:hover{
                        
                        filter: brightness(0.5);
                    }
                }
            }
            .post_text{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                opacity: 0;
                transition: .5s;
                font-size: 1.2rem;
                font-weight: bold;
                &:hover{
                    color: #000;
                }

            }
            &:hover .post_text{
                
                opacity: 1;
                
                
            }
        }
    }

    
}