.post {
    height: auto; 
    
    .title{
        font-size: 3rem;
        padding: 5rem 0;
        text-align: center;
        
    }
    
    .post_list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        gap: 1rem;
        
        @media screen and (max-width:1000px) {
            grid-template-columns: repeat(3, 1fr);
            padding: 0 2rem;
        }
        @media screen and (max-width:800px) {
            grid-template-columns: repeat(2, 1fr);
            padding: 0 1rem;
        }
        @media screen and (max-width:450px) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 1rem;
        }
        .post_item{
            position: relative;
            color: #fff;
            .img_wrap{
                position: relative;
                width: 100%;
                
                overflow: hidden;
                img{
                    width: 100%;
            
                    height: 300px;
                    filter: brightness(100%);
                    transition: filter 0.3s ease-in-out;
            cursor: pointer;
                    &:hover{
                        
                        filter: brightness(0.5);
                    }
                }
            }
            .post_text{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0; 
                font-size: 1.2rem;
                transition: opacity 0.3s ease-in-out;
                color: #fff;
                cursor: pointer;
                &:hover ~ img{
                    filter: brightness(100%); 
                }

            }
            &:hover .post_text{
                
                opacity: 1;               
            }
            &:hover img {
                filter: brightness(30%);
            }
        }
    }

    
}