.wishList{
    width: 100%;
    height: auto;
    .title{
        font-size: 3rem;
        padding: 5rem 0;
        text-align: center;
        span{
            color: #8e7cf8;
        }
        h2{
            font-size: 2rem;
            margin-top: 3rem;
            
        }
    }
    .empty{
        text-align: center;
        font-size: 1.5rem;
        line-height: 150%;
        margin-bottom: 300px;
    }
    .like_list{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        .like_box{
            display: flex;
            height: 200px;
            line-height: 200px;
            font-size: 1rem;
            .num{
                flex: 10%;
                text-align: center;
            }
            .like_img{
                display: flex;
                align-items: center;
                flex: 20%;
                justify-content: center;
                img{
                    height: 90%;
                    text-align: center;
                }
            }
            .like_name{
                flex: 40%;
                font-size: 1.5rem;
            }
            .like_detail{
                flex: 10%;
                &:hover{
                    text-decoration: underline;
                }
            }
            .like_remove{
                flex: 20%;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}