.search_form{
    margin: 2rem 0;
    text-align: end;
    input{
        border: none;
        border-bottom: 2px solid gray;
        outline: none;
        padding: 5px 0;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}